<div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Project Lists</div>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </form>
    <!-- Table -->
    <table class="table table-striped table-hover pointerclass">
      <thead>
        <tr>
          <th>Serial</th>
          <th>Project Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obj in mockservice | filter:searchText" ng-click="showProjectProfile(obj)">
          <td scope="row">{{obj.serialnumber}}</td>
          <td>{{obj.projectName}}</td>
          <td>{{obj.projectstatus}}</td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>